In [5]:
import pandas as pd

data = [
    ['A', '2024-01-01', 18.50, 'Shake Shack', 'N'],
    ['A', '2024-01-01', 138.00, 'Nordstrom', 'N'],
    ['A', '2024-01-01', 15.00, 'Starbucks', 'N'],
    ['A', '2024-01-01', 270.00, 'Hilton Hotel', 'Y'],
    ['B', '2024-02-02', 220.00, 'Holiday Inn', 'N'],
    ['B', '2024-02-02', 120.00, 'Zara', 'N'],
    ['B', '2024-02-03', 8.00, 'Starbucks', 'N'],
    ['B', '2024-02-04', 15.00, 'Chipotle', 'Y'],
    ['C', '2024-03-03', 90.00, 'Zara', 'N'],
    ['C', '2024-03-03', 10.00, 'Starbucks', 'N'],
    ['C', '2024-03-08', 21.00, 'Shake Shack', 'Y']
]

columns = ['User ID', 'Date', 'Amount (USD)', 'Merchant', 'Chargeback']
df = pd.DataFrame(data, columns=columns)

print(df)

   User ID        Date  Amount (USD)      Merchant Chargeback
0        A  2024-01-01          18.5   Shake Shack          N
1        A  2024-01-01         138.0     Nordstrom          N
2        A  2024-01-01          15.0     Starbucks          N
3        A  2024-01-01         270.0  Hilton Hotel          Y
4        B  2024-02-02         220.0   Holiday Inn          N
5        B  2024-02-02         120.0          Zara          N
6        B  2024-02-03           8.0     Starbucks          N
7        B  2024-02-04          15.0      Chipotle          Y
8        C  2024-03-03          90.0          Zara          N
9        C  2024-03-03          10.0     Starbucks          N
10       C  2024-03-08          21.0   Shake Shack          Y

In [6]:
df

   User ID        Date  Amount (USD)      Merchant Chargeback
0        A  2024-01-01          18.5   Shake Shack          N
1        A  2024-01-01         138.0     Nordstrom          N
2        A  2024-01-01          15.0     Starbucks          N
3        A  2024-01-01         270.0  Hilton Hotel          Y
4        B  2024-02-02         220.0   Holiday Inn          N
5        B  2024-02-02         120.0          Zara          N
6        B  2024-02-03           8.0     Starbucks          N
7        B  2024-02-04          15.0      Chipotle          Y
8        C  2024-03-03          90.0          Zara          N
9        C  2024-03-03          10.0     Starbucks          N
10       C  2024-03-08          21.0   Shake Shack          Y